.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
    margin: 7px 200px;
   
    align-items: center;
    
   grid-column-gap: 7px;
   }

   .container1{
    width: 200px;
    overflow: hidden;

   }
   .card{
    width: 24rem;
    height: 18rem;
    background: #fbf8f8;
    
   }

   .images{
    margin-top: -50px;
   }

   
   
