.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
    margin: 10px 600px;
   
    align-items: center;
    
   grid-column-gap: 20px;
   }

   .container{
    width: 200px;

   }
   .card{
    width: 18rem;
    height: 15rem;
    background: #fbf8f8;
   }
   
   
